doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title Databox Store Dev Login

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
		script(src='https://www.google.com/recaptcha/api.js')

	body
		.container(style='margin-top: 10%;')
			h1 Databox Store Dev Login
			.form-group
				input.form-control#user-input(type='text', placeholder='Username/email')
			.form-group
				input.form-control#pass-input(type='password', placeholder='Password')
			p
				button.btn.btn-primary#log-in-button(type='button', data-loading-text='Logging In...') Log In
				| 
				button.btn.btn-default(type='button', data-toggle='modal', data-target='#register-modal') Register

		#register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register-modal-label')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h4#register-modal-title.modal-title Register
					.modal-body
						.form-group
							input.form-control#user-reg-input(type='text', placeholder='Username')
						.form-group
							input.form-control#email-reg-input(type='email', placeholder='Email')
						.form-group
							input.form-control#pass-reg-input(type='password', placeholder='Password')
						.form-group
							.g-recaptcha(data-sitekey='6Lfk3SMTAAAAAIAuPhdzp7DacIME8kI-dLuSISHy')
					.modal-footer
						button.btn.btn-primary#register-button(type='button', data-loading-text='Registering...') Register

	script
		:livescript
			$ \#log-in-button .click !->
				btn = $ this .button \loading
				username = $ \#user-input .val!
				password = $ \#pass-input .val!
				res <-! $.post \user/login { username, password }

				if res.error?
					switch res.error
					| 11 => alert 'Please fill in all fields'
					| 14 => alert 'Email/username incorrect'
					| 15 => alert 'Password incorrect'
					btn.button \reset
					return

				if res.success
					btn.button \reset
					location.reload!
					return

				# Should never happen
				alert 'Something went wrong; please refresh and try again.'
				btn.button \reset

			$ \#register-button .click !->
				btn = $ this .button \loading
				username  = $ \#user-reg-input  .val!
				email     = $ \#email-reg-input .val!
				password  = $ \#pass-reg-input  .val!
				recaptcha = $ \#g-recaptcha-response .val!
				res <-! $.post \user/register { username, email, password, recaptcha }

				if res.error?
					switch res.error
					| 11 => alert 'Please fill in all fields'
					| 12 => alert 'Sorry, a user with that email address already exists'
					| 13 => alert 'Sorry, that username is already taken'
					| 16 => alert 'Please complete the reCAPTCHA'
					| 17 => alert 'ReCAPTCHA error, please try again'
					btn.button \reset
					return

				if res.success
					alert 'Registration successful. Please verify your email address to log in.'
					btn.button \reset
					$ \#register-modal .modal \hide
					return

				# Should never happen
				alert 'Something went wrong; please refresh and try again.'
				btn.button \reset
